@charset "utf-8";
/* CSS Document */

fieldset{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
    width: 290px;
    
 }

legend.label {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-size: 100%;
  font-weight: bold;
}

ul.radio   {
  margin: 0;
  padding: 0;
  /*margin-left: 20px;*/
  list-style: none;
}

ul.radio li input {
  margin-right: .25em;
}

ul.radio li {
  border: 1px transparent solid;
}

ul.radio li:hover,
ul.radio li.focus  {
  background-color: lightyellow;
  border: 1px gray solid;
  width: 10em;
  text-decoration:underline;
}