body {
  margin: 0 auto;
  padding: 0;
  font: 12px/1.6 'Helvetica Neue', Arial, sans-serif;
  /*background: #2574b0 url(../images/grid.png) repeat left top;*/
  color: #333;
  text-rendering: optimizeLegibility; }


.main a:visited {
  border-bottom: 1px dashed #1A4F79; }

p,
.content li {
  font-size: 14px; }

/* article { overflow: hidden; } */
header,
nav,
nav a,
footer,
footer a {
  color: #FFF; }

header,
.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden; }

.inner {
  overflow: visible; }


    nav a:hover, nav a:focus {
      text-decoration: underline; }

.main {
  clear: both;
  padding: 30px 0;
  background: #FAFAFA;
  overflow: hidden; }
  .main h1,
  .main h1 a,
  .main h2,
  .main h2 a {
    margin: 0;
    font-size: 27px;
    text-decoration: none; }
  .main button,
  .main .gform_wrapper .gform_footer input.button,
  .main .gform_wrapper .gform_footer input[type="submit"],
  .main a.button {
    display: block;
    margin: 10px 0;
    padding: 7px 45px 8px;
    background: #CB3700;
    background: -webkit-gradient(linear, left top, left bottom, from(#c03c26), to(#84210e));
    background: -webkit-linear-gradient(#c03c26, #84210e);
    /* Safari 5.1+, Chrome 10+ */
    background: -moz-linear-gradient(top, #c03c26, #84210e);
    background: -o-linear-gradient(#c03c26, #84210e);
    background: -ms-linear-gradient(#c03c26, #84210e);
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    border: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
    .main button:hover, .main button:focus,
    .main .gform_wrapper .gform_footer input.button:hover,
    .main .gform_wrapper .gform_footer input.button:focus,
    .main .gform_wrapper .gform_footer input[type="submit"]:hover,
    .main .gform_wrapper .gform_footer input[type="submit"]:focus,
    .main a.button:hover,
    .main a.button:focus {
      padding: 7px 50px 8px;
      background: -webkit-gradient(linear, left top, left bottom, from(#c03c26), to(#84210e));
      background: -webkit-linear-gradient(#c03c26, #84210e);
      /* Safari 5.1+, Chrome 10+ */
      background: -moz-linear-gradient(top, #c03c26, #84210e);
      background: -o-linear-gradient(#c03c26, #84210e);
      background: -ms-linear-gradient(#c03c26, #84210e);
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }



#comments h3,
div.meta,
p.meta {
  background: url(../images/inset-border.png) repeat-x left bottom; }

.meta p,
p.meta {
  font-size: 13px;
  color: #444;
  margin-top: -3px;
  padding-bottom: 10px;
  overflow: hidden; }

.meta p {
  margin-bottom: 0; }

p.meta {
  clear: both; }
  p.meta:last-child {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px dotted #CCC;
    background: url(../images/inset-border.png) repeat-x left bottom; }

.tags li {
  display: inline-block;
  margin: 0.5em; }
.tags a {
  display: inline-block;
  padding: 0 10px;
  margin: 0 5px 5px;
  color: #FFF;
  background: #1A4F79;
  text-decoration: none;
  font-size: 11px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white; }
  .tags a:hover, .tags a:focus {
    background: #333; }

#commentform input[type=text] {
  display: block; }

  #authors p {
    font-size: 13px; }
  #authors li.author:nth-child(2n+1) {
    clear: both;
    margin-right: 20px; }
  #authors .author li {
    margin: 0 2px; }
  #authors .author .bio {
    width: 180px; }

li.author {
  float: left;
  width: 255px;
  margin-bottom: 10px;
  padding: 0 10px 10px;
  overflow: auto; }

.author .links {
  float: left;
  width: 23%;
  margin-top: 15px; }
  .author .links .url img {
    width: 100%;
    max-width: 60px;
    max-height: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
.author ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.author li {
  float: left;
  margin: 0 3px; }
.author .bio {
  float: right;
  width: 70%;
  margin: 15px 0 0; }

.alt {
  padding: 10px 15px;
  background: #EBEBEB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .alt h3,
  .alt a {
    color: #0A3658; }

.tags ol a {
  color: #FFF; }

#subscribe h3 {
  padding-left: 29px;
  background: url(../images/subscribe.png) no-repeat left center; }
  #subscribe h3 input.email {
    width: 135px; }

#related li,
.recent li,
.events li {
  padding: 10px;
  background: url(../images/inset-border.png) repeat-x left bottom; }

#related a,
.recent a {
  font-size: 15px;
  font-weight: bold; }

#related span,
.recent span {
  display: block;
  color: #444; }

.events h4 {
  display: block;
  width: 80%;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #1A4F79; }
.events .date {
  color: #555; }
.events abbr {
  border: 0; }
.events .description {
  margin-top: 5px; }

#courses li {
  padding: 10px 0; }
  #courses li a {
    margin-right: 3.5em; }

#contactform {
  margin: 30px 0;
  padding: 0; }
  #contactform fieldset {
    margin: 0;
    padding: 0;
    border: 0; }
  #contactform legend,
  #contactform em.error {
    color: #930;
    font-weight: bold; }
  #contactform .error-notice {
    font-weight: bold; }
    #contactform .error-notice:focus {
      outline: none; }
  #contactform input,
  #contactform select,
  #contactform textarea {
    display: block; }
  #contactform input[type=text],
  #contactform select {
    width: 300px; }
  #contactform label {
    display: block; }

#contactform textarea,
#respond textarea {
  width: 500px;
  height: 200px; }

footer {
  width: 100%;
  clear: both;
  padding: 10px 0;
  background: url(../images/footer.png) repeat-x left top;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }
  footer p:first-child {
    margin-top: 0;
    text-align: right; }
  footer nav {
    margin: 10px 0; }

.copy {
  float: left;
  margin: 10px; }
  .copy p {
    margin: 0; }

.share {
  clear: both;
  float: right;
  width: 84%;
  margin-top: 10px; }
  .share .twitter-share-button,
  .share .fb_iframe_widget,
  .share .IN-widget,
  .share div:last-child {
    float: left;
    min-width: 100px;
    margin: 0 3px 10px 0;
    text-align: left !important; }

#archives .share {
  float: none;
  width: auto; }

.callout {
  max-width: 545px;
  margin-bottom: 1.0em;
  padding: 10px 15px;
  background: #FFC;
  border: 2px solid #D4D443;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); }
  .callout h3 {
    margin: 0 0 0.5em; }
  .callout p {
    margin: 0;
    font-size: 13px;
    background: none;
    border: 0; }
  .callout button {
    font-size: 12px; }
  .callout input {
    width: 150px; }

#timedisplay {
  border: solid 1px red;
  width: 50px; }

#watch-player {
  position: relative; }
  #watch-player button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    position: absolute;
    bottom: 5px;
    text-indent: -9999em;
    margin: 0;
    padding: 0;
    height: 27px;
    z-index: 1000;
    box-shadow: none; }

.main #watch-player button:focus {
  border: 3px solid yellow;
  outline: none; }

#playBtn {
  left: 0; }

#muteBtn {
  left: 30px; }

#widget .vcard span {
  display: block !important; }

#playBtn {
  left: 0;
  width: 57px; }

#playBtn,
#muteBtn {
  z-index: 10; }

#muteBtn {
  left: 57px;
  width: 35px; }


.main .home article {
  margin-bottom: 5px; }


