/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/12/2014, 10:45:53 AM
    Author     : HearColors
*/

/* Skip Nav Container Styles --------- */
#skip-nav {
  margin:0 auto; 
  padding:6px 0; 
  height:25px; 
  line-height:25px; 
  width:660px; 
  color:#999; 
  border-right:solid 10px;
  border-left:solid 10px;
  
}
.js #skip-nav {
  position:absolute; 
  margin-left:-9999px;
  
}
#skip-nav strong {
  font:normal 80%/1em Cambria, Georgia, Garamond, serif; 
  color:#fff; 
  text-transform:uppercase;
}
#skip-nav ul, #skip-nav li {
    display:inline;
    
}
#skip-nav.active {
  position:static; 
  margin:0 auto;
  
}
#skip-nav a {
  padding:0 3px; 
  /*color:#fff;*/
  color:#192666;
  

}
#skip-nav a:focus {
 /* color:#303;*/
 color: #192666;
    border: dashed 1px;
    background-color: #D5EAFF; /*#D5EAFF*/
      text-decoration: underline;

}


